<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>{{ title }} | {{ site.title }}</title>
	
	<!-- Preload Newsreader Variable Font to mitigate reflows -->
	<link rel="preload" href="/assets/fonts/newsreader/newsreader-var.woff2" as="font" type="font/woff2" crossorigin>
	
	<link rel="stylesheet" href="/assets/css/main.css">
</head>
<body>
	{% include "header.njk" %}

	<main>
		{{ content | safe }}
	</main>

	{% include "footer.njk" %}
</body>
</html>
