<details class="animated-details">
  <summary>
    <span class="details-marker">
      <svg width="12" height="12" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path d="M9 6L15 12L9 18" stroke="currentColor" stroke-width="3" stroke-linecap="round" stroke-linejoin="round"/>
      </svg>
    </span>
    {{ summary }}
  </summary>
  <div class="details-content" style="padding-top: var(--wp--preset--spacing--40);">
    {{ content | safe }}
  </div>
</details>
