<div class="wp-block-group pswp-gallery">
  {%- if wideUrl %}
  <figure class="wp-block-image" style="margin-bottom: var(--wp--preset--spacing--50);">
    <a href="{{ wideUrl }}" class="pswp-link" target="_blank">
      <img src="{{ wideUrl }}" alt="" class="grid-image-large" sizes="(min-width: 600px) 600px, 100vw">
    </a>
    {%- if wideCaption %}
    <figcaption>{{ wideCaption }}</figcaption>
    {%- endif %}
  </figure>
  {%- endif %}
  {%- if smallUrls.length %}
  <div class="wp-block-columns" style="margin-bottom: 0;">
    {%- for url in smallUrls %}
    <div class="wp-block-column">
      <a href="{{ url }}" class="pswp-link" target="_blank">
        <img src="{{ url }}" alt="" class="grid-image" sizes="(min-width: 600px) 300px, 50vw">
      </a>
    </div>
    {%- endfor %}
  </div>
  {%- endif %}
  <div class="grid-wide-caption">{{ mobileCaption }}</div>
</div>
