<div class="wp-block-columns pswp-gallery" style="margin-top: var(--wp--preset--spacing--40); margin-bottom: 0;">
  {%- for image in images %}
  <div class="wp-block-column">
    <figure class="wp-block-image">
      <a href="{{ image.url }}" class="pswp-link" target="_blank">
        <img src="{{ image.url }}" alt="" class="grid-image-portrait" sizes="(min-width: 600px) 260px, 33vw">
      </a>
      {%- if image.caption %}
      <figcaption>{{ image.caption }}</figcaption>
      {%- endif %}
    </figure>
  </div>
  {%- endfor %}
</div>
<div class="grid-wide-caption">{{ mobileCaption }}</div>
