* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

a {
    color: inherit;
}

/* Navigation */

nav {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    padding: 3rem;
    position: fixed;
    width: 100%;
    top: 0;
    /* background-color: white; */
    /* box-shadow: 0px 0px 1px 0px rgba(0,0,0,0.75); */
    transition: 400ms transform;
}

nav.static {
    position: static;
}

nav .back-block {
    display: flex;
    align-items: center;
}

nav .back-block > *:nth-child(2) {
    margin-left: 2.4325rem;
}

nav .back-block a:not(.logo-text) {
    font-size: 1.2rem;
    font-weight: 500;
}

nav > #nav-links > a, nav .back-block a {
    margin-left: 2rem;
    font-weight: 500;
    color: black;
    text-decoration: none;
    position: relative;
    font-size: 1.1rem;
    cursor: pointer;
}

nav > #nav-links > a::after, nav .back-block a::after {
    content: "";
    position: absolute;
    background-color: black;
    height: 0.125rem;
    left: 0rem;
    bottom: -0.1875rem;
    width: 0px;
    transition: width 200ms;
}

nav > #nav-links > a:hover::after, nav > #nav-links > a.active::after, nav .back-block a:hover::after {
    width: 100%;
}

.logo {
    background-color: black;
    color: white;
    padding: 1rem;
    font-size: 2rem;
    font-weight: bold;
    width: 4.5625rem;
    height: 4.375rem;
}

@media screen and (max-width: 1023px) {
    nav {
        padding: 2rem;
    } nav #nav-links {
        display: flex;
        flex-direction: column;
        align-items: flex-end;
    } nav #nav-links > a {
        display: inline;
        margin-left: 0;
    } nav #nav-links > a:not(:first-child) {
        margin-top: 1rem;
    }
}

/* Header */

header {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 65vh;
    width: 100%;
    border-bottom: 1px solid #eee;
    background: linear-gradient(0deg, rgba(255,138,101,0.35) 0%, rgba(255,204,128,0.35) 100%);
    text-align: center;
}

.intro-text {
    padding: 1rem;
}

.intro, .typed-cursor {
    font-size: 3.5rem;
    font-weight: 500;
    line-height: 1.5;
}

@media screen and (max-width: 1023px) {
    .intro, .typed-cursor {
        font-size: 2.5rem;
    }    
}

@media screen and (max-width: 768px) {
    .intro, .typed-cursor {
        position: relative;
        top: 4rem;
    }
}

/* About */

#about {
    margin-top: 2rem;
}

#about-image {
    min-height: 0;
    max-height: 100%;
    display: flex;
    align-items: center;
    max-height: 100vh;
}

#about-image img {
    width: 100%;
    height: 0;
    object-fit: cover;
    object-position: center;
    flex-grow: 0;
    min-height: 100%;
    padding: 4rem;
    background-color: rgb(250, 250, 250);
}

@media screen and (max-width: 1023px) {
    #about-image {
        height: 30rem;
    } #about-image img {
        height: 100%;
        padding: 0;
    }
}

#about-content h3 {
    font-weight: 500;
    font-size: 1.4rem;
    line-height: 1.7;
}

#about-list {
    margin-top: 1.5rem;
}

#about-content h4 {
    font-size: 1rem;
    font-weight: 600;
    text-transform: uppercase;
}

#about-content ul {
    list-style: inside;
}

#about-content li {
    margin-top: 1rem;
    font-size: 1rem;
}

#about-location-image {
    margin: 1rem 0;
}

#about-location-image span {
    display: block;
    margin-top: 0.5rem;
    font-size: 0.9rem;
    color: #555;
}

#about-location-image img {
    width: 100%;
    height: 20rem;
    object-fit: cover;
}

/* Page Content */

section {
    padding: 3rem 3rem 4rem 3rem;
}

section h1 {
    font-size: 2.5rem;
    font-weight: 500;
}

section h1 + h2 {
    margin: 2rem 0 0 0;
}

section h2 {
    margin: 2rem 0 2rem 0;
    font-weight: 500;
}

section h1 ~ p {
    margin-top: 1rem;
    line-height: 1.5;
}

@media screen and (max-width: 1023px) {
    section {
        padding: 2rem 2rem 3rem 2rem;
    }
}

/* Project Cards */

.two-column {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
    grid-gap: 4rem;
    height: 100%;
}

@media screen and (max-width: 1023px) {
    .two-column {
        grid-template-columns: auto;
        grid-gap: 2rem;
        height: auto;
    }
}

.column {
    display: flex;
    flex-direction: column;
}

#projects-anchor {
    background-color: white;
    transition: 200ms background-color;
}

.projects {
    transition: 200ms background-color;
}

.project-cards {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 2rem;
    flex: 1;
}

.project-cards a {
    text-decoration: none;
}

.project-cards a[href=""] {
    cursor: default;
}

.project-card {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
}

.primary-project {
    grid-column: span 2;
}

.project-card img {
    width: 100%;
    min-height: 12rem;
    object-fit: cover;
    object-position: center;
    flex-grow: 1;
    display: block;
}

.project-card h3 {
    margin-top: 0.75rem;
    font-weight: 500;
}

.project-card h3::after {
    content: "";
    display: block;
    width: 100%;
}

.project-card h3::after {
    content: "Complete";
    margin-top: 0.5rem;
    display: block;
    color: green;
    font-weight: 600;
    font-size: 0.8rem;
    height: auto;
    text-transform: uppercase;
}

.project-card h3#case-incomplete::after {
    content: "Case Study Incomplete";
    color: orange;
}

.project-card h3#wip::after {
    content: "Work in Progress";
    color: red;
}

a.link-button {
    display: inline-block;
    margin-top: 2rem;
    text-decoration: none;
}

@media screen and (max-width: 1023px) {
    .project-cards {
        grid-template-columns: auto;
    }
}
    
/* Contact Form */

.contact {
    background-color: rgb(252,252,252);
}

form {
    margin-top: 2rem;
    display: grid;
    grid-template-columns: repeat(auto-fill, 2);
    grid-gap: 2rem;
    height: 100%;
}

form .span-col {
    grid-column: span 2;
}

input:not(input[type="submit"]), textarea {
    font-size: 1rem;
    background-color: #eee;
    padding: 0.8rem;
    outline: none;
    border: 2px solid transparent;
    transition: border 200ms;
}

textarea {
    resize: none;
}

input:not(input[type="submit"]):focus, textarea:focus {
    border: 2px solid black;
}

label {
    font-weight: 500;
    font-size: 1.1rem;
}

.form-input {
    display: flex;
    flex-direction: column;
    min-width: 0;
}

.form-input.submit {
    align-items: baseline;
}

.form-input label + input, .form-input label + textarea {
    margin-top: 1rem;
}

input[type="submit"], a.link-button {
    background-color: black;
    color: white;
    border: 0;
    padding: 1rem;
    font-weight: 600;
    font-size: 1rem;
    width: auto;
    cursor: pointer;
    -webkit-appearance: none;
}

@media screen and (max-width: 1023px) {
    form {
        grid-template-columns: auto;
    } form .span-col {
        grid-column: span 1;
    }
}

/* Article */

article {
    padding: 0rem 10rem;
    margin-bottom: 6rem;
}

@media screen and (max-width: 1023px) {
    article {
        padding: 0rem 6rem;
        margin-bottom: 4rem;
    }
}

@media screen and (max-width: 800px) {
    article {
        padding: 0rem 2rem;
        margin-bottom: 2rem;
    }
}

article section {
    margin: 0;
    padding: 0;
}

article h1 {
    line-height: 1.5;
}

article .article-details {
    font-weight: 500;
    margin-top: 0.5rem;
}

.article-header-image {
    margin-bottom: 1.5rem;
}

.article-header-image img {
    width: 100%;
    height: 60vh;
    object-fit: cover;
}

.article-header-caption {
    margin: 0.75rem 0 0 0.75rem;
    display: block;
    font-size: 0.9rem;
    color: #555;
    font-style: italic;
}

article .table-of-contents {
    margin-top: 2rem;
    line-height: 2;
    list-style: inside;
    padding: 2rem;
    border: 1px solid #ddd;
    border-radius: 0.5rem;
    font-weight: 500;
}

article h2 {
    font-size: 2rem;
    text-decoration: underline;
    line-height: 1.5;
}

article p {
    font-size: 1.15rem;
    line-height: 1.75;
}

article *:not(.learning-section) > ul {
    font-size: 1.15rem;
    list-style: inside;
    line-height: 2;
    margin: 1rem 0;
}

article p + p, article .article-image + p {
    margin-top: 1rem;
}

article .article-image {
    float: right;
    padding: 0 0 2rem 2rem;
}

@media screen and (max-width: 1023px) {
    article .article-image {
        clear: right;
        margin: 2rem 0;
        width: 100%;
        padding: 0;
    } article .article-image img {
        margin: 0 auto;
    } .article-header-caption {
        margin: 0.75rem 0 0 0;
    }
}

article .article-image img {
    height: 15rem;
    max-width: 100%;
    display: block;
    margin: 0 auto;
}

article .image-caption {
    font-size: 0.9rem;
    line-height: 1.5;
    color: #333;
    margin-top: 1rem;
    font-style: italic;
    display: block;
    text-align: center;
}

article table {
    margin-top: 2rem;
    border-collapse: collapse;
}

article table th, article table td {
    border: 1px solid #ddd;
    padding: 0.8rem;
}

article table th {
    font-weight: 600;
    text-align: left;
    vertical-align: top;
    font-size: 1.15rem;
}

article table td h3 {
    font-size: 1.15rem;
    font-weight: 500;
}

article p + h3 {
    margin-top: 1rem;
}

article table h3 ~ p {
    margin-top: 1rem;
}

article table p {
    font-size: 1.15rem;
}

article table ol {
    counter-reset: item;
}

article td ol > li {
    font-weight: 500;
}

article table li {
    display: block;
    line-height: 1.5;
    font-size: 1.15rem;
}

article table li:not(:first-child), article table li li {
    margin-top: 1rem;
}

article table li li {
    margin-left: 1rem;
    font-weight: normal;
}

article table li:before {
    content: counters(item, ".") ": ";
    counter-increment: item;
    font-style: italic;
}

article .triple-image-container {
    margin: 2rem 0;
    display: grid;
    grid-gap: 3rem;
    grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
}

article .triple-image-container .triple-image {
    min-width: 0;
}

article .triple-image-container .triple-image img {
    width: 100%;
}

article .learning-sections {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
    grid-gap: 3rem;
    margin: 2rem 0 4rem 0;
}

article .learning-sections .learning-section {
    list-style-position: inside;
    list-style-type: disc;
    line-height: 1.5;
}

article .learning-sections .learning-section h3 {
    font-weight: 500;
    margin-bottom: 1rem;
    /* text-decoration: underline; */
}

article .learning-sections .learning-section h3::after {
    content: "\2192";
    display: inline-block;
    margin-left: 0.5rem;
    transition: 200ms transform;
}

article .learning-sections .learning-section:hover h3::after {
    transform: rotate(45deg);
}

article .learning-sections .learning-section ul > *:not(:first-child) {
    margin-top: 0.5rem;
}

.article-controls {
    margin-top: 2rem;
    display: flex;
    justify-content: space-between;
}

.previous-article, .next-article {
    display: inline-block;
    line-height: 2;
    border-radius: 0.5rem;
    padding: 0.75rem;
    background-color: rgba(245, 245, 245,1);
    cursor: pointer;
    transition: 200ms background-color;
    text-decoration: none;
}

.previous-article:hover, .next-article:hover {
    background-color: #eee;
}

.previous-article {
    text-align: left;
}

.next-article {
    text-align: right;
}

@media screen and (max-width: 800px) {
    .article-controls {
        flex-direction: column;
    } .previous-article, .next-article {
        text-align: center;
    } .article-controls > *:not(:first-child) {
        margin-top: 2rem;
    }
}

/* Footer */

footer {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
    grid-gap: 4rem;
    padding: 3rem;
    background-color: #ffe082;
}

.footer-icon-container {
    display: flex;
    align-items: baseline;
}

.footer-content-container > * {
    line-height: 1.5;
}

.footer-content-container ul {
    list-style-type: circle;
    list-style-position: inside;
    font-size: 0.9rem;
}

.footer-content-container ul li {
    line-height: 2;
}

.footer-content-container > *:not(:first-child) {
    margin-top: 0.5rem;
}

.footer-content-container h4 {
    font-size: 1rem;
    font-weight: 600;
}

.footer-content-container p {
    font-size: 0.9rem;
}

@media screen and (max-width: 800px) {
    footer {
        grid-template-columns: 1fr;
    }
}