{% macro details(summary, open=false) %}
<details class="animated-details" {% if open %}open{% endif %}>
	<summary>{{ summary }}</summary>
	<div class="details-content" style="padding-top: var(--wp--preset--spacing--40);">
		{{ caller() }}
	</div>
</details>
{% endmacro %}
