<footer style="border-top: 1px solid var(--wp--preset--color--contrast-5); margin-top: var(--wp--preset--spacing--80);">
	<div class="wp-block-group is-layout-constrained" style="padding-top: var(--wp--preset--spacing--60); padding-bottom: var(--wp--preset--spacing--60);">
		<div class="wp-block-group has-x-small-font-size has-system-sans-serif-font-family has-contrast-2-color site-footer-content" style="display: flex; justify-content: space-between; align-items: baseline;">
			<p style="margin-bottom: 0;">© 2026 {{ site.title }}</p>
			<p style="margin-bottom: 0;">Inspired by Anders Norén and Rich Tabor</p>
		</div>
	</div>
</footer>
